<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Dashboards</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/dashboard" key="t-default">Default</a></li>
                        <li><a href="/whatsApp_dashboard" key="t-saas">WhatsApp Center</a></li>
                        <li><a href="/crypto_dashboard" key="t-crypto">Crypto</a></li>
                        <li><a href="/blogs_dashboard" key="t-blog">Blog</a></li>
                        <li><a href="/jobs_dashboard"><span class="badge rounded-pill text-bg-success float-end"
                                    key="t-new">New</span>
                                <span key="t-jobs">Jobs</span></a></li>
                    </ul>
                </li>
                <li class="menu-title" key="t-apps">Apps</li>
                <li>
                    <a href="/loans" class="waves-effect">
                        <i class="bx bx-file"></i>
                        <span key="t-file-manager">Loans</span>
                    </a>
                </li>

                <li>
                    <a href="/packages" class="has-arrow waves-effect">
                        <i class="bx bx-store"></i>
                        <span key="t-ecommerce">Packages</span>
                    </a>
                    
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-bitcoin"></i>
                        <span key="t-crypto">Financials</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/wallet" key="t-wallet">Wallet</a></li>
                    </ul>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/addons" key="t-wallet">Add Ons</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-wrench"></i>
                        <span key="t-crypto">Verification center</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/payment/package?option=Premium&amount=7000" key="t-wallet">Premium</a></li>
                    </ul>
		    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/payment/package?option=Linkage_access&amount=14000" key="t-wallet">Linkage Access</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/proxy" class="has-arrow waves-effect">
                        <i class="bx bx-aperture"></i>
                        <span key="t-icons">True Proxy</span>
                    </a>
                </li>

                <li>
                    <a href="/downlines" class="has-arrow waves-effect">
                        <i class="bx bx-briefcase-alt-2"></i>
                        <span key="t-projects">Affiliates</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-task"></i>
                        <span key="t-tasks">Forex Center</span>
                    </a>
                    
                </li>
                <li>
                    <a href="/games" class="has-arrow waves-effect">
                        <i class="bx bx-game"></i>
                        <span key="t-tasks">Games</span>
                    </a>
                    
                </li>
                <li>
                    <a href="/shares" class="has-arrow waves-effect">
                        <i class="bx bxs-user-detail"></i>
                        <span key="t-contacts">Shares</span>
                    </a>
                </li>

                <li class="menu-title" key="t-pages">Pages</li>
                <li>
                    <a href="mailto:support.LuxurPayagencies.com" class="has-arrow waves-effect">
                        <i class="bx bx-file"></i>
                        <span key="t-utility">Support</span>
                    </a>
                </li>


                <li>
                    <a href="/logout" class="has-arrow waves-effect">
                        <i class="bx bx-user-circle"></i>
                        <span key="t-authentication">Logout</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
